/*color #FF6363*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html.md-theme-default {
    background-color: #fafafa;
    background-color: var(--md-theme-default-background-variant,#fafafa);
    color: rgba(0,0,0,.87);
    color: var(--md-theme-default-text-primary-on-background-variant,rgba(0,0,0,.87));
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}

#app[data-v-5fdf2371] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-col {
  flex-direction: column !important ;
}

.flex {
  display: flex !important ;
}

.align-center {
  align-items: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

audio, canvas, embed, iframe, img, object, video {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
}

div {
    display: block;
}

/*NAVBAR*/

.navbar {
  height: 165px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 600;
}

.navbar .logo {
    height: 50px;
    width: 100%;
    max-width: 60px;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.navbar .link {
    position: relative;
}

.navbar .router-link-exact-active {
    color: #FF6363!important;
}

.navbar a {
    color: #0a1f44!important;
    text-decoration: none;
}

a.btn-contact {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #FF6363;
    border-radius: 50px;
    background-color: #FF6363;
    color: #fff!important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}


#phone-nav[data-v-48b363cf] {
    position: relative;
}

.bento-menu[data-v-48b363cf] {
    width: 27px;
    height: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 5px;
    cursor: pointer;
}

.show-anim-in[data-v-48b363cf] {
    -webkit-animation: rotateToOne-data-v-48b363cf .3s;
    animation: rotateToOne-data-v-48b363cf .3s;
    opacity: 1;
    border-radius: 0;
}

.bento-menu>div[data-v-48b363cf] {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FF6363;
}

.close-btn[data-v-48b363cf] {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    background-color: transparent;
    z-index: 2000;
    cursor: pointer;
}

.showMenu[data-v-48b363cf] {
    transform: translateX(100%);
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1005;
    background-color: hsla(0,0%,100%,.95);
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:not(.md-button) {
    transition: .3s cubic-bezier(.25,.8,.25,1);
    transition-property: color,background-color,opacity;
}